.box-shadow{box-shadow:0 1px 1px rgba(0,0,0,.15) !important;}
.btn{margin:5px 10px 5px 0;}
.widget{padding:0px !important;overflow:hidden !important;margin:0px 0 40px 0;}
.widget .col{padding:10px;}
.widget .col:first-child{background:rgba(0,0,0,.1);height:78px;line-height:78px;}
.widget:hover>.col:first-child{background:rgba(0,0,0,0);-webkit-transition:all .2s;-webkit-transform:translateX(-100px);}

.widget small{font-size:13px;font-weight:300;}
.widget .count{font-size:25px;font-weight:300;}

.widget i:first-child{-webkit-transform: rotate(-90deg);vertical-align:text-bottom}
.widget i:last-child{-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";}

.report #ContentPlaceHolder1_lbShow{width:100% !important;}
.reportGridView{height:500px;min-height:500px !important;overflow:auto;}
.Appointments .col:first-child{padding:0px !important;}        

.Appointments .col:first-child h6{font-size:17px;font-weight:400;margin:0px !important;padding:30px;}        
.Appointments .collection{border:none;}
.Appointments .collection .collection-item{line-height:2.87rem !important;padding:15px 30px 20px 85px;border-bottom:none !important;cursor:pointer;}
.Appointments .collection .collection-item.avatar{min-height:60px !important;}
.Appointments .collection .collection-item.avatar .circle{left:30px !important;}
.Appointments .collection .title{color:#000;font-weight:400;font-size:13px !important;margin-top:-10px;display:block;}
.Appointments .collection .cause{font-size:13px !important;color:#666;font-weight:400;margin-top:10px;line-height:0px;bottom:0px;}
.Appointments ul li:hover{background:#f5f5f5 !important;}


.PopUp{-webkit-animation:popup .2s;}
    @-webkit-keyframes popup
    {
        0%{-webkit-transform:scale(0);}
        100%{-webkit-transform:scale(1);}
        
    }
    
.hideButton{-webkit-transform:scale(0);}
.showButton{-webkit-transform:scale(1);}
.ifAddClicks{position: absolute;left: 0px;top: 5px;margin-left: 35px;-webkit-animation:myPreloader .3s}


        nav{z-index:999999 !important;height:auto !important;}
        nav .brand-logo {margin-left:60px;font-weight:300;font-size:17px;text-transform:uppercase;}
        nav .button-collapse i{font-size:25px;}
        nav .left{padding:0 30px;}
        nav .left i{line-height:0px !important;height:0px !important;position: absolute;
    top: 0px;
    margin-top: 12px;
    left: 0px;
    padding: 20px 8px;

    border-radius: 50%;
    }
    
toggleMenuIcon:before{position:absolute;content:"";width:1px;height:1px;-webkit-transform:scale(35);background:rgba(250,250,250,.2);top:0px;left:0px;margin-left:49%;margin-top:45%;border-radius:50%;}


.toggleMenuIcon{line-height:0px !important;height:0px !important;position: absolute;
    top: 0px;
    margin-top: 12px;
    left: 0px;
    padding: 20px 8px;
    border-radius: 50%;
    background: RGBA(250,250,250,.2);
    -webkit-transition:all .2s;
    
}
        #sidenav-overlay{background:none;}
        .side-nav{width:280px !important;}
        .side-nav .divider{margin:0px;}
        .side-nav>a{padding:0px !important;}
        .side-nav a{color: rgba(0,0,0,0.87);font-weight:400;font-size:13px}
        .rotate90{-webkit-transform:rotate(90deg);-webkit-transition:all .5s;}
        .rotate0{-webkit-transform:rotate(0deg);-webkit-transition:all .5s;}
        .collapsible-header i{color:#757575 !important;}
        .toggleWidth{width:5%;-webkit-transition:all .2s ease-in-out;}

.side-nav .collapsible a img{float: left;padding:12px 0;height: 46px;margin: 0 32px 0 0;width: 24px;color: rgba(0,0,0,0.54);font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -webkit-filter: invert(.4);
   filter: invert(.4);
    }
    .userView{height:200px;}
    .userView img{height:100%;}
    .userView h5{text-shadow:5px 5px 5px #000;position:absolute;top:0px;margin-top:40%;left:0px;margin-left:15%;font-weight:300;}
    /*/{background:#3BB878;}*/
    .toggleMenu{position:absolute;top:0px;margin-left:320px;padding:0 15px;}
    .main{margin-left:300px;}
    /*.navigation{padding:15px;}*/
    .navigation{margin-bottom:15px;padding:8px !important;}
    .navigation i{vertical-align:bottom !important;margin-right:10px;}
    .navigation span{font-weight:400;color:#777;text-transform:uppercase;font-size:15px;}
    .navigation ul{margin:0px;font-size:13px;}
    .navigation ul li{display:inline;}
    .navigation ul li a{color:#9e9e9e;}
    .navigation ul li a:hover{color:#424242;}
    .navigation ul li a:after{content:"/";padding:0 10px;}
    
    .navigation img{float: left;/*padding:12px 0;height: 46px;*/margin: 0 10px 0 0;width: 24px;color: rgba(0,0,0,0.54);font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -webkit-filter: invert(.6);
   filter: invert(.6);
    }
    
    .input-field{margin-top:0px;}
    .forms{margin-right:30px;padding-left:10px;}
    .forms .inner-form{padding:30px;margin-bottom:15px;}
    .forms .row{margin:0px;}
    .forms label{font-weight:400;font-size:13px;}
    .copyright{font-size:13px;margin:30px 0;}
    .copyright i{font-size:11px;vertical-align:middle; }
    #ContentPlaceHolder1_Label1{font-size:x-small !important;position:absolute !important;top:-10px;}
    .PopUp{padding:100px 50px !important;box-shadow:1px 1px 1px 1px rgba(0,0,0,.2);}
    .PopUp i{border-radius:50%;padding:5px;background:#f3f3f3;font-size:12px;box-shadow:inset 0 0 0px rgba(0,0,0,.2);position:absolute;top:10px;right:10px;}






    @media only screen and (max-width: 992px)
    {
        .main{margin-left:0px !important;}    
        .brand-logo{left:120px !important;}
        .forms{padding-left:25px !important;}
    }
    @media only screen and (max-width:767px)
    {
        .brand-logo{display:none !important;}
        .forms{padding-left:15px !important;margin-right:15px !important;}
        .widget{width:100% !important;}
        
    }
    @media only screen and (max-width:600px)
    {
        .index .col{padding:0px !important;}
        .index .col .s4{padding:15px !important;}
        .index .col .s8{padding:10px !important;}
        .index .widget i{vertical-align:super !important;}
    }
    
::-webkit-scrollbar {
    width: 7px;
    position:absolute;
    right:0px;
}
 

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,.2); 
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 0, 0,.2); 
}

